<h1>Course profile</h1>
	<%= @course.name %>
<hr>

<h2>Submit a comment about this course</h2>
	<form action="/comments" method="post">
		<input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
		<input type="hidden" name="comment[user_id]" value="<%= @user.id %>">
		<input type="hidden" name="comment[course_id]" value="<%= @course.id %>">
		<textarea name="comment[content]"></textarea>
		<br></br>
		<input type="submit" value="Submit a comment">
	</form>

<hr>
<h2>Comments about this course</h2>
	<% @course.comments.each do |c| %>
		<p><%= c.content %></p>
	<% end %>
