<% @title_tag = "Edit Comment" %>
<% @body_id = "edit-comment" %>

<% # Title tag %>
<% content_for :head do
  @title_tag
end %>

<% # Body tag ID %>
<% content_for :body_id do
  @body_id
end %>

<section>
	<article>
		<div class="container">


		  
		</div>


	</article>


</section>

<!-- edit a comment -->
<h1>Edit your comment</h1>
<form action="/comments/<%= @comment.id %>" method="post">
	<input type="hidden" name="_method" value="patch">
	<input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
	<input type="hidden" name="comment[user_id]" value="<%= @user.id %>">
	<input type="hidden" name="comment[course_id]" value="<%= @course.id %>">
	<p>
		<textarea name="comment[content]"><%= @comment.content %></textarea>
	</p>
	<input type="submit" value="Edit this comment">
</form>